body{
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0 !important;
}


.login-logo{
    padding: 90px 20px 0 10px;
}
#text,
#phone,
#email,
#pwd{
    padding:10px 73px 10px 73px;
    background: #f6f6f6;
    border-radius: 30px;
    border: none;
    outline: none !important;
}

form {
    padding: 0 125px;
}

.btn-submit{
    padding: 0 20%;
}

.btn-submit button{
    background-color: #0a216f;
    color: white;
    padding: 15px 30px;
    border-radius: 40px;
}

.btn-submit button:hover{
    color: white;
    box-shadow: 2px 3px 10px gray;
    transform: translate(-2px , -2px);
    transition: 0.2s ease-in-out;
}

.text-account p{
    font-size: 24px;
}

.text-account p span a{
    text-decoration: none;
    color: #0a216f;
}
.form-group{
    position: relative;
}

.form-icons {
    position: absolute;
    left: 5%;
    top: 43%;
    transform: translate(10%, 10%);
}

.login-options{
    height: 40px;
    width: 40px;
    margin: 0 14px;
    cursor: pointer;
}

.line-icons{
    position: relative;
}

.line-left,.line-right{
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.322);
    width: 150px;
}

.line-left{
    left: 48px;
    top: 13px;
}

.line-right{
    right: 48px;
    top: 13px;
}


@media only screen and (max-width: 800px) {
    .row-left{
        display: none;
    }
    form{
        padding: 0 30px;
    }
    .btn-submit button {
        color: white;
        padding: 13px 2px;
        width: 200px;
    }
    .text-account p {
        font-size: 18px;
    }
    .line-left,.line-right{
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.322);
        width: 70px;
    }

  }